/* Base Styles */


/* Container Styling */
.about-container {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin: 30px auto;
    padding: 1.5rem;
    gap: 2rem;
    width: 85%;
}

/* Header Section */
.about-header {
    text-align: center;
}

.about-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: vertical;
}

.about-description {
    font-size: 1.125rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Mission Card */
.mission-card {
    
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    width: 100%;
    max-width: 900px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.mission-heading {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1rem;
}

.mission-image {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 1rem;
    border-radius: 0.5rem;
}

.mission-description {
    font-size: 1.125rem;
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .about-heading {
        font-size: 2rem;
    }

    .about-description {
        font-size: 1rem;
    }

    .mission-heading {
        font-size: 1.5rem;
    }

    .mission-image {
        max-width: 100%;
    }

    .mission-description {
        font-size: 1rem;
    }

    .about-container {
        padding: 1rem;
    }
}

@media (max-width: 480px) {
    .about-heading {
        font-size: 2rem;
    }

    .about-description {
        font-size: 1rem;
    }

    .mission-heading {
        font-size: 1.50rem;
    }

    .mission-description {
        font-size: 1rem;
    }
}
